{% extends 'layouts/forms.html' %}

{% block form %}
    <form>
        <h3>Registro</h3>
        <div class="mb-6">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #24346c;">Registrarse</button>
    </form>
{% endblock %}