{% extends 'layouts/base.html' %}

{% block content %}
    {% load static %}

    <div class="container-fluid vh-100 d-flex p-0">
    
        <!-- Columna izquierda (70%) -->
        <div class="col-12 col-md-7 d-flex justify-content-center align-items-center bg-white form-left-container">
            <img src="{% static 'images/marketImg.png' %}" alt="form-img" class="form-img">
        </div>

        <!-- Columna derecha (30%) -->
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center bg-light form-right-container">
            {% block form %}
            <!-- Aquí va tu formulario -->
            {% endblock %}
        </div>
    </div>
{% endblock %}
