{% extends 'layouts/baseUsers.html' %}

{% block content %}
{% load static i18n %}

    <div class="container-fluid vh-100 d-flex p-0">
        <a href="{% url 'landing' %}">
            <img src="{% static 'images/UStore Logo.png' %}" alt="{% trans 'Logo de UStore' %}" 
            class="position-absolute top-0 start-0 m-3" 
            style="width: 10%; height: auto;">
        </a>

        <!-- Columna izquierda (70 %) -->
        <div class="col-12 col-md-7 d-flex justify-content-center align-items-center bg-white form-left-container">
            <img src="{% static 'images/marketImg.png' %}" alt="{% trans 'Imagen del formulario' %}" class="form-img">
        </div>

        <!-- Columna derecha (30%) -->
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center bg-light form-right-container">
            {% block form %}
            <!-- Aquí va tu formulario -->
            {% endblock %}
        </div>
    </div>
{% endblock %}
