{% extends 'pages/base.html' %}
{% load static %}


{% block content %}

    <div class="container-fluid vh-100 d-flex p-0">
    
        <!-- Columna izquierda (70%) -->
        <div class="col-12 col-md-7 d-flex justify-content-center align-items-center bg-white form-left-container">
            <img src="{% static 'images/marketImg.png' %}" alt="form-img" class="form-img">
        </div>

        <!-- Columna derecha (30%) -->
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center flex-column bg-light form-right-container">
            <div class="d-flex justify-content-end  align-items-center" style="margin-bottom: 20px;">
                <a href="{% url 'landing' %}" class="btn btn-primary d-flex align-items-center" style="background-color: #ffff; color: black; border:none; font-weight: bold;">
                  <i class="bi bi-arrow-left me-2"><img src="{% static 'icons/arrow-left-circle-fill.svg' %}" alt="arrow-left" width="20"></i> Volver
                </a>
            </div>
            <div class="d-flex justify-content-center align-items-center 0" style="margin-bottom: 50px;">
                <img src="{% static 'images/UStore Logo.png' %}" alt="UStore Logo" width="200">
            </div>
            {% block form %}
            <!-- Aquí va tu formulario -->
            {% endblock %}
            
        </div>
    </div>
{% endblock %}
